# SPDX-FileCopyrightText: 2024-2025 Soulfind Contributors
# SPDX-FileCopyrightText: 2017 SeeSchloss <seeschloss@seeschloss.org>
# SPDX-License-Identifier: GPL-3.0-or-later

.dub/
bin/
obj/
*.db
*.db-shm
*.db-wal
*.lst
dub_platform_probe_*
