# SPDX-FileCopyrightText: 2024 Soulfind Contributors
# SPDX-License-Identifier: GPL-3.0-or-later

name: CI

on: [push, pull_request]

jobs:

  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      matrix:
        arch: [x86_64]
        compiler: [dmd, ldc]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up D
        uses: dlang-community/setup-dlang@v2
        with:
          compiler: ${{ matrix.compiler }}

      - name: Build
        run: dub build

  artifacts:
    runs-on: ubuntu-latest
    container: alpine:edge
    timeout-minutes: 15
    strategy:
      matrix:
        arch: [x86_64]
        type: [release, debug]
        include:
          - type: debug
            flags: --debug=db --debug=msg --debug=user
    env:
      DFLAGS: -static
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: apk add dub gcc ldc musl-dev sqlite-static

      - name: Build
        run: dub build --build=${{ matrix.type }} ${{ matrix.flags }}

      - name: Archive artifacts
        uses: actions/upload-artifact@v4
        with:
          name: soulfind-${{ matrix.arch }}-linux-${{ matrix.type }}
          path: bin
